@import '@sourcegraph/codeintellify/lib/HoverOverlay.scss';
@import './blame/BlameLine';
@import './LineDecorationAttachment';
@import './discussions/DiscussionsGutterOverlay.scss';

.blob {
    position: relative;
    overflow: auto;
    padding-top: 0.5rem;
    tab-size: 4;
    display: flex;

    &__code {
        flex: 1;

        table {
            border-collapse: collapse;
        }

        td.line {
            &::before {
                // draw line number with css so it cannot be copied to clipboard
                content: attr(data-line);
            }

            text-align: right;
            padding-left: 0.5rem;
            min-width: 2rem;
            user-select: none;
            vertical-align: top;
        }

        tr {
            transition: background 200ms ease-out;
        }

        td.line,
        td.code {
            padding: 0;
        }

        td.code {
            width: 100%;
            padding-left: 1rem;
            white-space: pre;

            // Possibly not needed but without this, empty lines with blame-portals wrap incorrectly
            span {
                display: inline-block;
            }

            .blame-portal {
                display: inline-block;

                span::before {
                    content: attr(data-contents);
                }

                .blame {
                    padding-left: 1rem;
                    display: inline-block;
                    width: 0;
                    outline: none;
                }
            }
        }

        &--wrapped {
            td.code {
                white-space: pre-wrap;
            }
        }
    }
}

@include theme(light) {
	.blob {
		&__code {
			td.line {
				color: $gray-05;
			}

			tr {
				&.selected {
					background: $gray-02;
				}
			}

			td.code {
				.blame-portal {
					.blame {
						color: $gray-07;
					}
				}
			}
		}
	}

}

@include theme(dark) {
	.blob {
		&__code {
			td.line {
				color: $gray-18;
			}

			tr {
				&.selected {
					background: $gray-21;
				}
			}

			td.code {
				.blame-portal {
					.blame {
						color: $gray-16;
					}
				}
			}
		}
	}

}
