.single-value-card {
    background-color: $color-bg-2;

    &__value {
        font-size: 3.5em;
    }
}

@media screen and (prefers-color-scheme: light) {
    .single-value-card {
        background-color: $color-light-bg-2;
    }
}
